[2017-04-28 22:57] juliosueiras opened #1 "Convert Online Scrapping to a Script-based Scrapping"
The current model of scrapping is entirely online, the next step of this, is to use a script(eithehr bash or ruby) to convert the docs to json, hence faster performance, and no online requirement

[2017-04-29 00:05] #1 closed

[2017-04-29 03:45] juliosueiras opened #3 "Duplicate Resource Argument"
There is several duplicate argument in some resource,
most of them are name-1, name-2, name-3, etc

[2017-04-29 09:37] juliosueiras opened #4 "Parameter completion require further improvement"
the completion for parameter require further completion, since is still abit buggy

[2017-04-29 09:38] juliosueiras opened #5 "Refactor VimScript portion"
Refactor the vimscript portion of the completion to allow further improvement

[2017-04-29 19:04] juliosueiras opened #6 "Considering using Data from intellij-hcl as the scrapper"
Might try out using data of intellij-hcl as the basing point for scrapping data for autocompletion

[reference](https://github.com/VladRassokhin/intellij-hcl/tree/master/res/terraform/model/providers)

[2017-04-30 21:43] juliosueiras commented on #3
The new commits fix it

[2017-04-30 21:43] #3 closed

[2017-05-01 07:11] juliosueiras opened #7 "Improve Overall Code"
clean the code base

[2017-05-01 16:48] juliosueiras opened #8 "Allow Version change for docs"
have to find a way to allow user to specify version of terraform docs

[2017-05-01 19:30] ccampanale opened #9 "Documentation suggestions"
Please consider including a list of dependencies in your documentation for other's as ignorant as I was about vim plugins before today.

  - [vim-terraform](https://github.com/hashivim/vim-terraform)
  - [vim-syntastic](https://github.com/vim-syntastic/syntastic)

I confirmed vim was setup with `+ruby/dyn` and moved my couple modules over to `vim-plug` and was pulling my hair out trying to determi

[2017-05-01 20:34] juliosueiras commented on #9
Thanks for the suggestion, I am thinking using a docker container(quick one) to mimic a user env so I can make sure a brand new vim can use this plugin without too much hiccups

[2017-05-01 20:44] juliosueiras opened #10 "Experiment with ALE or Validator for Deep tflint"
might try these  [ALE](https://github.com/w0rp/ale) or [Validator](https://github.com/maralla/validator.vim)  , since tflint deep take a while

[2017-05-01 20:52] juliosueiras opened #11 "Start using version tags and releases"
after some clean up, will start putting versioning tags

[2017-05-01 21:19] juliosueiras commented on #9
Is the current one working? I added a minimal configuration on README.md

[2017-05-02 00:34] juliosueiras opened #12 "Enhance terraform validate or terraform plan"
since terraform validate/plan does not fulling reveal line number when an error occur , so I might have invest some time into extending hclfmt to allow a more friendlier errorformat

[2017-05-02 00:39] juliosueiras opened #13 "Should the linter be on separate repo?"

[2017-05-02 02:55] ccampanale commented on #9
The updated README looks great! Thanks!

I started the Docker test you mentioned on this PR: https://github.com/juliosueiras/vim-terraform-completion/pull/14

[2017-05-02 18:40] #9 closed

[2017-05-02 18:41] juliosueiras commented on #10
Due to ALE and Validator not as extensive yet compare syntastic, I will postpone this part to later days

[2017-05-02 18:41] #10 closed

[2017-05-03 08:51] juliosueiras opened #15 "Create a Filter for Error that does not contain line number for terraform validate"

[2017-05-03 20:30] juliosueiras opened #16 "Module Resolution: Planned Feature"
Planning after some clean up, start working on module resolution, and other project scope items

[2017-05-04 07:48] #15 closed

[2017-05-04 08:44] juliosueiras opened #17 "Add Support for Neomake"
Since the errorformat is here, will try to enable neomake as well

[2017-05-04 16:55] juliosueiras opened #18 "Combine Docs Scrapping with Source code(Terraform Source code) scrapping"

[2017-05-05 04:41] juliosueiras opened #19 "Version based Completion"
since terraform release include docs, then I am looking into from online scrapping to ffline source scrapping

[2017-05-06 07:05] #4 closed

[2017-05-06 07:06] juliosueiras opened #20 "After a finite features(a complete set that is enough) then all features development should stop for refactoring all the current code"

[2017-05-06 19:24] #19 closed

[2017-05-07 04:23] VladRassokhin commented on #6
You may use [special branch of Terraform](https://github.com/VladRassokhin/terraform/tree/f-export-schema-master), which generates that data. Though I'm rebasing it on newest TF releases with forced push.

[2017-05-08 04:16] juliosueiras commented on #6
Thanks!!, I will look into it

[2017-05-08 12:03] juliosueiras commented on #16
Finish github online and file offline, bitbucket is next, private probably not possible(or too much trouble)

[2017-05-09 09:27] #17 closed

[2017-05-09 09:27] #16 closed

[2017-05-09 09:27] #8 closed

[2017-05-14 16:26] juliosueiras opened #21 "Create A Script to Go through terraform repo and generate provider jsons for all versions"
Since the git repo for terraform has all the tags and docs, I should create a script(call it generate_all_versions) that clone the terraform repo and pull each tags and generate the completion data for the version,

(OPTIONAL) check and make sure the data is not too big a normal user, if not, look for network solution(EXAMPLE: create a separate repo and pull only the version that the user requeste

[2017-05-14 16:27] juliosueiras commented on #18
Might need it for block completion

[2017-05-14 16:28] #13 closed

[2017-05-14 16:29] #6 closed

[2017-05-15 18:56] #7 closed

[2017-05-15 18:56] #18 closed

[2017-05-15 18:56] #21 closed

[2017-05-17 21:17] juliosueiras opened #22 "Increase test to include block completion and edge case"

[2017-05-18 16:52] juliosueiras opened #23 "Create vim docs for this plugin"

[2017-05-24 18:06] juliosueiras commented on #6
now the issue is how the attribute data is being pull

[2017-07-28 21:51] rnanj opened #27 "Omni completion (^O^N^P) Pattern not found"
I am new to NeoVim, installed the deps using vim-plug, when I try to autocomplet for terraform I get "Omni completion (^O^N^P) Pattern not found". Not sure what am I missing.

[2017-07-28 23:05] juliosueiras commented on #27
Can you submit a screenshot?

[2017-07-31 16:49] rnanj commented on #27
![vim](https://user-images.githubusercontent.com/21050350/28788447-e209fe74-75dd-11e7-86ea-5e66e3fe56a7.jpg)

[2017-07-31 17:37] juliosueiras commented on #27
try typing `resource "` and try autocomplete again

[2017-07-31 19:12] rnanj commented on #27
![vim](https://user-images.githubusercontent.com/21050350/28793935-dd01a954-75f1-11e7-85ec-e293148a91e8.jpg)

[2017-08-09 03:36] proever commented on #27
I'm getting the same issue. copy of my init.vim:

[code]

I got the same issue when I was using neomake instead of syntastic, btw.

[2017-08-10 20:05] juliosueiras commented on #27
@proever thanks, I will look into it today

[2017-09-03 12:53] kyxap1 commented on #27
I can confirm the issue too. @juliosueiras have you reproduced error?

[2017-09-03 14:20] kyxap1 commented on #27
@juliosueiras
1. Logs achieved with
[code]
[nvimlogs.zip](https://github.com/juliosueiras/vim-terraform-completion/files/1272965/nvimlogs.zip)

2. My `init.vim`

[code]

[2017-09-05 03:32] juliosueiras commented on #27
@kyxap1 thanks, will look into it

[2017-09-20 14:12] juliosueiras commented on #27
@kyxap1 @rnanj does the issue still persist?

[2017-09-27 15:54] juliosueiras opened #28 "Backward Compatible of Module completion for Terraform 0.9 or lower"

[2017-09-29 10:10] qrevel opened #29 "Support for ALE"
Hi,

Could you add support for [ALE](https://github.com/w0rp/ale)?

Thanks

[2017-09-29 19:28] juliosueiras commented on #29
No problem, will look into these two days

[2017-10-14 03:24] bzub opened #30 "Omni completion (^O^N^P) Pattern not found"
Hi, thanks for this plugin!

I have the same issue as #27, and my configuration is very similar to https://github.com/juliosueiras/vim-terraform-completion/issues/27#issuecomment-326807828 and I've seen the same thing running vim/neovim.

Please let me know what I can do further to help troubleshoot this issue.

[2017-10-14 03:56] bzub commented on #30
Actually it might not be exactly the same.

`resource "`^x^o -- This gives pattern not found.

For interpolations `"${`^x^o shows the names of resources in the current file along with "var" "module" and "data".

using `resourcename.`^x^o shows the same as above.

[2017-10-14 18:30] bzub commented on #30
Fixed. The issue was that I didn't have the neovim ruby gem installed.

[2017-10-14 18:30] #30 closed

[2017-10-14 18:46] bzub opened #31 "Allow disabling/configuring of key mappings"
Some of these key mappings conflict with my setup. Would be good to be able to disable/configure them via variables.

https://github.com/juliosueiras/vim-terraform-completion/blob/71a7edc03cf63db9c375ac58c4f4e7a24bae1639/ftplugin/terraform.vim#L43

[2017-10-31 23:23] davewongillies commented on #27
I have this problem too. I've tried the solution from #30 (install the neovim gem) but it still doesn't work for me.

[2017-12-01 00:21] davewongillies opened #32 "Omni completion only works when vim run in verbose mode"
So I'm currently running vim 8 and omnicompletion doesn't work for this plugin, erroring with the all familiar error:

[code]

Now, if I run vim in verbose mode, omnicompletion works. Here's my current [.vimrc](https://github.com/davewongillies/dot-files/blob/82eaf0142b2a4676c1efce2fb1174eb6b855a272/vim/.vimrc) and here's the [log output](https://gist.github.com/332e2910f40059b606f052dfda9850f6).

[2017-12-01 00:28] davewongillies commented on #32
As an incredibly janky workaround, I've `set verbose=0` in my `.vimrc`

[2017-12-01 01:03] juliosueiras commented on #32
is the log output when the issue occur?

[2017-12-01 01:15] juliosueiras commented on #32
also can you provide which OS was this in?

[2017-12-01 01:19] davewongillies commented on #32
So I've done a bit more testing. Its really inconsistent. Sometimes it works, sometimes it doesn't and verbose mode doesn't seem to make a difference, that was a red herring. No changes to my `.vimrc`.

Here's a log file from a non-working session: https:////gist.github.com/905dea0c754b2dcf79247348af0c6bbc

This is on both macOS 10.12.6 and Ubuntu 16.04.

[2017-12-01 01:20] davewongillies commented on #32
Linux version:
[code]

macOS version:
[code]

[2017-12-01 01:33] juliosueiras commented on #32
is the bundle on the newest commit? also does it have new code to it?(since I notice a folder `/home/dgillies/.vim/bundle/vim-terraform-completion/ale_linters/` being sourced)

[2017-12-01 01:39] davewongillies commented on #32
Yes, I'm running the latest. Looks like the `ale_linters` directory was from when I was messing around. I've trashed it but that only ever existed on one of my workstations (the macOS one). The linux workstation doesn't have it and still doesn't work.

[2017-12-01 01:59] juliosueiras commented on #32
Just tested it on docker ubuntu 16.04 Vim 7.4 https://asciinema.org/a/T4bmw0MIWAJKx94EVROPcSm8u

[2017-12-01 02:45] davewongillies commented on #32
And here it is not working for me: https://asciinema.org/a/1LDduObP3dkFo3nct4dJcijv9

[2017-12-01 03:53] davewongillies commented on #32
After a bit of trial and error, testing out a minimal config and adding some bits and pieces back, I think I've narrowed it down to deoplete.

[2017-12-01 04:21] davewongillies commented on #32
And it looks like its specifically setting [`g:deoplete#complete_method = 'omnifunc'`](https://github.com/davewongillies/dot-files/blob/82eaf0142b2a4676c1efce2fb1174eb6b855a272/vim/.vimrc#L259) that's causing me issues. If I leave it as default (`complete`) I can then use regular old c-x c-o for omnicompletion.

[2017-12-01 04:41] juliosueiras commented on #32
I thought deoplete is async autocomplete?

[2017-12-01 07:13] davewongillies commented on #32
Sorry, I don't understand what your question.

What config should this plugin work (if at all) with deoplete? I attempted to get it working with this minimal config, but it doesn't work:
[code]

[2017-12-01 07:27] juliosueiras commented on #32
I tested the config you posted with deoplete and work fine on mine(Mac , Vim 8)
https://asciinema.org/a/6Jf6vwkF3lWmCM3HcCxkhr93q

[2017-12-01 07:36] davewongillies commented on #32
So I ended up putting this into my test vimrc and it now works:
[code]
Without it there is no omni pattern for terraform files.

[2017-12-01 19:43] juliosueiras commented on #32
I will look into it, and I will close this issue if there is no further issue

[2017-12-02 16:28] #32 closed

[2018-01-04 12:45] ravernkoh commented on #27
Same problem here.

[2018-01-04 18:02] juliosueiras commented on #27
Can you include which vim you use and version, and which OS

[2018-01-09 18:53] shinzui commented on #31
This badly breaks my mappings also.

[2018-01-09 22:52] juliosueiras commented on #31
Done, use `let g:terraform_completion_keys = 1` to enable it, or 0 to disable it

[2018-01-09 22:52] #31 closed

[2018-01-14 00:21] #28 closed

[2018-01-14 00:21] #11 closed

[2018-01-18 16:23] nicholasjackson commented on #27
@davewongillies do you use deoplete? If so I had to add these two lines to my config

[code]

[2018-01-18 17:02] juliosueiras commented on #27
I will close this issue for now, since the build is passing

[2018-01-18 17:02] #27 closed

[2018-01-19 10:19] saurabh-hirani opened #34 "Have an option to disable module source search"
Hi,

vim-terraform-completion is a great plugin. Thank you for creating it.

When using it with terraform modules, as soon as the keyword source is written and a value is provided, the plugin tries to search git repos to give a choice to the user. If the user wants to load a local module or provide a versioned module, omnicomplete slows the user down. To get around it, I have currently commented o

[2018-01-19 12:03] juliosueiras commented on #34
added the option `g:terraform_registry_module_completion`

[2018-01-19 12:03] #34 closed

[2018-01-19 16:23] saurabh-hirani commented on #34
Thank you very much for the quick around time! This is a very useful feature.

[2018-01-21 00:42] juliosueiras opened #35 "Support for Custom Provider"
Need to create the ability for user to specify a custom provider(ex. https://github.com/hooklift/terraform-provider-vix) and provide completion for that

Approach: Using a api server act as a cdn for custom provider json

[2018-01-21 03:23] juliosueiras commented on #35
close for now, using instruction docs

[2018-01-21 03:23] #35 closed

[2018-01-22 08:46] nicholasjackson opened #36 "Editing a value in output or variables blocks freezes vim"
When I attempt to edit the value in the below block Nvim freezes

[code]

With the following displayed at the bottom:

[code]

This also happens when editing descriptions in variable blocks.

Setup:
NVim: v0.2.1
vim-terraform-completion: latest
Deoplete
All Nvim plugins up to date

[2018-01-22 13:43] juliosueiras commented on #36
does this still happen on a new terraform file with only `azurerm_resource_group` and the above block, does it still freeze Nvim?

[2018-01-22 14:18] nicholasjackson commented on #36
Yes I get the same issue whenever I try to create a new variable block, I just started a new folder and file and the plugin froze when I started to type the following:

[code]

[2018-01-22 17:52] #36 closed, assigned to nobody

[2018-01-23 08:04] nicholasjackson commented on #36
Awesome, all working again :) Epic work

[2018-02-11 20:03] juliosueiras commented on #29
Can close for now due to support for tflint is part of ale now, might reopen if some one want native terraform validate and my custom validate to be use with ALE

[2018-02-11 20:03] #29 closed

[2018-02-11 20:04] juliosueiras commented on #23
Close for having a vim docs now

[2018-02-11 20:04] #23 closed

[2018-02-11 20:04] #20 closed

[2018-02-15 22:04] tchia04 commented on #27
I still have this issue.
Getting this when i type resource "<tab>
-- Omni completion (^O^N^P) Pattern not found

This is my .config/nvim/init.vim
let g:deoplete#omni_patterns = {}
let g:deoplete#omni_patterns.terraform = '[^ *\t"{=$]\w*'

[2018-02-18 16:58] sebiwi commented on #29
Hi, this would actually be pretty good to have.

I'm under the impression that ALE linting just uses tflint, which doesn't actually outputs anything when the file syntax is broken, for example. The behaviour from the asciinema clip on the readme is pretty cool, and I'd love to have it integrated with ALE.

Thanks!

[2018-03-12 02:45] DavidUser opened #37 "Doesn't work with neovim (raw / deoplete / YCM)"
## Using just neovim

[![asciicast](https://asciinema.org/a/hc59NBMblz2jlbQvN29Nr0wJJ.png)](https://asciinema.org/a/hc59NBMblz2jlbQvN29Nr0wJJ)

This source code example is [here](https://github.com/DavidUser/test-vim-terraform-complete-neovim)

## Using neovim + deoplete

[![asciicast](https://asciinema.org/a/spJ0BFSsQltCyZUJE59ilFvsg.png)](https://asciinema.org/a/spJ0BFSsQltCyZUJE59ilFvsg)

This

[2018-03-12 02:54] juliosueiras commented on #37
Please provide more description

[2018-03-12 14:08] juliosueiras commented on #37
what is the output for `:set omnifunc` ?

[2018-03-12 14:56] DavidUser commented on #37
omnifunc=terraformcomplete#Complete

[2018-03-13 22:07] DavidUser commented on #37
So, I remove all YCM, install deoplete, install this plugin and doesn't work just seems like trying found some completion and doesn't work.
I'll put my build on dockerfile to show exactly what is happening

[2018-03-13 23:16] DavidUser opened #38 "Docker build incomplete"
![image](https://user-images.githubusercontent.com/6628028/37374747-5b34dd40-26fb-11e8-8be4-47837cda1b85.png)

[2018-03-14 01:11] juliosueiras commented on #38
the vader.vim is part of travis.yml

`git clone https://github.com/junegunn/vader.vim`

[2018-03-14 02:21] DavidUser commented on #37
Done, I update the description and put examples using distinct configuration with neo**vim**.

[2018-03-14 02:29] DavidUser commented on #38
Ok, it's a good idea put this on docker Dockerfile.

[2018-03-14 05:40] #38 closed

[2018-03-21 14:36] sebiwi opened #40 "Undeclared variable syntax highlight"
Hi,

This is rather a feature request. I don't even know if this is possible, or if it represents a lot of work.

It would be great to have syntax highlighting for variables that are not defined. For example, when using intelliJ and you rename a certain resource, all of the variable references that are no longer valid are highlighted in red.

This would be awesome to have. Thanks!

[2018-03-21 15:47] juliosueiras commented on #37
for deoplete, try adding `let g:deoplete#enable_at_startup = 1` to your ~/.config/nvim/init.vim

[2018-03-22 18:13] DavidUser commented on #37
This is already in use and doesn't work like you can see here https://github.com/DavidUser/test-vim-terraform-complete-neovim-deoplete/blob/master/.config/nvim/init.vim#L20

[2018-03-23 04:06] juliosueiras commented on #37
found the issue, the fix is that fedora ruby does not come with json gem, so installing json gem will fix

added the info on README

[2018-03-24 01:16] danihodovic commented on #17
Is this done? What does a minimal configuration look like?

[2018-03-24 06:52] DavidUser commented on #37
Perfect, it falls well!

[2018-03-24 06:52] #37 closed

[2018-03-24 11:17] sebiwi commented on #40
Yes, that's! perfect! Assuming that the variables stop being red once they are properly declared, then that's exactly what I wanted!

I'm wondering if you need syntastic in order to make this work? If the answer is yes, it would be great to have the same features using ALE.

Thanks again for the quick responses and the amazing plugin!

[2018-03-27 17:35] barthalion opened #41 "E10: \ should be followed by /, ? or & line 1242:"
After installation of `hashivim/vim-terraform` and `juliosueiras/vim-terraform-completion`, Vim throws list of errors at startup:

[code]

It repeats up to number 1270, next occurences are 1281, 1283, 1287 and 1289.

hashivim/vim-terraform is at `76799270813db362b13a56f26cd34f668e9e17a4`
vim-terraform-completion is at `b451f39c1ad5649bf277cc7a366e2fdf2afcb987`
vim 8.0.1542

It doesn't happen when

[2018-03-27 17:38] barthalion commented on #41
Never mind, looks like I made a mistake – it happens only when `vim-terraform` is loaded. I will report it there.

Sorry for the noise.

[2018-03-27 17:38] #41 closed

[2018-03-27 18:35] juliosueiras commented on #41
no problem

[2018-06-12 07:18] mcanevet opened #44 "How to to make it work with neovim?"
I'm using the neovim package v0.2.2 from Debian sid and it looks like it does not have `ruby/dyn` enabled. At least `echo has('ruby/dyn')` returns `0`. So this plugin does not work because of [this](https://github.com/juliosueiras/vim-terraform-completion/blob/master/autoload/terraformcomplete.vim#L1-L3).
According to `:help feature-compile`, "Nvim always includes ALL features, in contrast to Vim"

[2018-06-12 07:43] mcanevet commented on #44
Never mind I misread the code...

[2018-06-12 07:43] #44 closed

[2018-06-12 08:01] juliosueiras commented on #44
hi, just want to ask, can you explain what was the issue?

[2018-06-12 09:48] juliosueiras commented on #44
no problem

[2018-07-11 19:14] scsinutz opened #45 "Need better documentation on how to get up and running with this plugin"
I followed your installation instructions for neovim but auto-completion doesn't seem to work.

[code]

[2018-07-11 20:34] juliosueiras commented on #45
can you paste the result for :CheckHealth ?

[2018-07-11 21:36] scsinutz commented on #45
Sure, here it is:

## Performance
  - OK: Build type: Release

## Remote Plugins
  - OK: Up to date

## terminal
  - INFO: key_backspace (kbs) terminfo entry: key_backspace=^H
  - INFO: key_dc (kdch1) terminfo entry: key_dc=\E[3~
  - INFO: $TERM_PROGRAM='iTerm.app'
  - INFO: $COLORTERM='truecolor'

health#provider#check
========================================================================
## Cl

[2018-07-11 21:37] juliosueiras commented on #45
and lastly, can you post the portion of your init.vim that is related to
the plugin?

On Wed, Jul 11, 2018 at 5:36 PM, Patrick McDonald <notifications@github.com>
wrote:

[2018-07-11 21:43] scsinutz commented on #45
Fresh install of neovim specially to use this plugin. I'm using the init.vim from the install instructions.

[code]

[2018-07-11 22:07] juliosueiras commented on #45
can you repeat the action from this and see if completion will work?

https://asciinema.org/a/jE1Gu6JNrQBddgd9CuOAMJWL3

On Wed, Jul 11, 2018 at 5:43 PM, Patrick McDonald <notifications@github.com>
wrote:

[2018-07-11 22:16] scsinutz commented on #45
```gem install neovim``` Did the trick.

It doesnt auto-complete as I type, I have to press ctrl+x or ctrl+o to get a drop down list of options. Is that how it's designed?

[2018-07-11 22:22] juliosueiras commented on #45
correct, if you want async completion, you can try out deoplete(which this
plugin support as well)

On Wed, Jul 11, 2018 at 6:16 PM, Patrick McDonald <notifications@github.com>
wrote:

[2018-07-11 22:53] scsinutz commented on #45
Thank you!

[2018-07-11 22:53] #45 closed

[2018-07-26 16:58] bobdoah opened #46 "linter not reporting errors"
I've added the following to my vimrc:
[code]
with this broken terraform script:
[code]

with `let g:syntastic_debug=3`,  I get the following when executing `:w`:

[code]

I can't figure out whats going wrong. Syntastic reports python errors fine.

[2018-08-09 06:40] SevereOverfl0w opened #47 "Deoplete - modifying source inside a module is blocking"
To reproduce
1. Enable deoplete as described in readme
2. copy this into a .tf file:

[code]

3. Move cursor inside of `""`, and start typing, after the first character vim locks up for a few seconds

[2018-08-09 06:43] SevereOverfl0w opened #48 "Deoplete - Writing a module block moves cursor"
1. Setup deoplete
2. Type `module "f`
3. Cursor is at start of line

[2018-08-09 16:34] juliosueiras commented on #47
can you try it with `let g:terraform_module_registry_search = 0` in your `init.vim`?

[2018-08-13 09:32] SevereOverfl0w commented on #47
That did not seem to help.

[2018-08-31 09:25] dkvasnicka commented on #46
Same here. Neither `terraform validate` nor `tflint` show any errors in the loclist. Debugging Syntastic on my machine also shows that it executes the checkers and is aware of the errors.
Other languages are also working correctly, so it's not an issue with Syntastic itself.

[2018-09-04 15:01] nagaho opened #49 "Not working completion neovim deoplete."
Not working completion neovim deoplete. (other deoplete is working.)
What's wrong?

[code]

- dein.toml
[code]

[2018-09-10 15:40] esn89 commented on #44
I have a similar problem to you.  I have installed the neovim as a ruby gem and it shows 0.

However, I am still unable to get it to work with neovim.
I have copied the config exactly.  Any ideas?

[2018-09-11 08:38] esn89 commented on #49
+ 1

I am unable to get this with neovim as well.  I have the neovim and the json gems for this as well.

[2018-09-13 03:44] juliosueiras commented on #49
can you guys try it again with the new instruction from README?

[2018-09-13 05:33] nagaho commented on #49
@juliosueiras It works. Thank you!

[2018-09-13 05:33] #49 closed

[2018-09-13 06:36] esn89 commented on #44
Hey @juliosueiras

Thanks for your reply, I have tried the new deoplete but got this error instead:
[code]

health#deoplete#check
========================================================================
## deoplete.nvim
  - OK: exists("v:t_list") was successful
  - OK: has("timers") was successful
  - OK: has("python3") was successful
  - INFO: If you're still having problems, try the following co

[2018-09-13 08:13] lanox opened #50 "cant get completion to work with neovim"
Hi,

I cant seem to get this working with neovim,

I have installed the following plugins,

[code]
this is my CheckHealth output

[code]
also have this set in init.vim

[code]
any ideas on why autocompletion doesn't work ?

thanks

[2018-09-13 19:52] juliosueiras commented on #44
@esn89 can you try with the new config ?(just updated the deoplete config on README)

[2018-09-15 11:36] esn89 commented on #50
I think you might have the same issue as https://github.com/juliosueiras/vim-terraform-completion/issues/49

[2018-09-15 11:36] esn89 commented on #49
btw if i just want autocomplete, is syntastic required?

[2018-09-15 13:46] esn89 commented on #44
It works, thank you.

However, when I type "res" resource, I get this red error message, any ideas?

https://i.imgur.com/22CJxr8.png

I am using this config:
[code]

[2018-09-15 17:49] esn89 commented on #44
ah, i see.  thanks for your reply, and sorry for being so bothersome :)

[2018-09-16 23:16] lpuljic commented on #50
@esn89 yeah I saw that but it did not work for me.

[2018-09-17 01:41] lanox commented on #50
Well got it further but, i get ``` Omni completion (^O^N^P) Pattern not found``` and neither instructions fro deoplete worked for me.

[2018-09-17 02:05] lanox commented on #50
@juliosueiras  any help would be appreciated.

[2018-09-21 07:52] lanox commented on #50
Anyone ?

[2018-10-11 22:48] bzub commented on #50
Here's a log with some exceptions that seem relevant to this issue, when I try omnicomplete after typing `resource "`

[exceptions.log](https://github.com/juliosueiras/vim-terraform-completion/files/2470960/exceptions.log)

[2018-10-12 04:34] juliosueiras commented on #50
updated the repo due to dein.vim load ftplugin very differently from others(it will collect ftplugin and overwrite them)

so pull the newest update of the repo and follow [this](https://asciinema.org/a/AckDTqCDEZyqV8cVyxK8kI5UI)

Neovim version: 0.3.1

[2018-10-12 13:08] juliosueiras commented on #50
wait, are you sure?, since the video show completion working

On Fri, Oct 12, 2018 at 1:20 AM lanox <notifications@github.com> wrote:

[2018-10-13 00:34] lanox commented on #50
Yes, sorry my bad, it shows it’s working, but it is not working for me, I still get the error I mentioned above.

I have followed readme and did exactly as it states, with out any luck.

[2018-10-13 00:49] juliosueiras commented on #50
Just double checking everything

A) what neovim version are you using?

B) what is your plugin manager?

C) you have json gem installed? (or can use `require "json"` in ruby

[2018-10-13 02:05] lanox commented on #50
A) what neovim version are you using?
NVIM v0.3.1
B) what is your plugin manager?
Plug
C) you have json gem installed? (or can use require "json" in ruby
gem list shows

json (default: 2.1.0)

[2018-10-13 02:47] juliosueiras commented on #50
can you double check this https://asciinema.org/a/CZH4fT2u1IIRUcn3wcFZVWnzk and see I am using the same config as you? (Neovim 0.3.1, same ruby neovim gem version, and json 2.1.0)

[2018-10-14 22:58] lanox commented on #50
@juliosueiras I have no idea so I copied your config from asciiname video and created new init.conf.

This is what I have now in my init.conf and its still not working.
Also I am running max os I dunno if that has anything to do with.

[code]

[2018-11-03 04:56] zdoherty opened #51 "DigitalOcean OpenDoc Always 404s"
the terraform docs use the abbreviation `do` in their URLs for digitalocean resources, like this:

[code]

but the resources still use the full name `digitalocean`, like this:

[code]

[2018-11-03 17:13] juliosueiras commented on #51
is fixed now

[2018-11-03 17:13] #51 closed

[2018-11-05 15:57] bobdoah commented on #46
Sorry for the delay, I'm still having issues with that:
[code]

[2018-11-06 10:25] sebiwi opened #52 "Add support for Ale"
Hi.

Thank you for this amazing plugin.

It would be great to have [Ale](https://github.com/w0rp/ale) support for linting purposes.

Thanks!

[2018-11-06 10:43] sebiwi opened #53 "Jump to declaration of variable does not work when the declaration is on a different file"
Hi,

I realised that the `"<leader>l" will jump to declaration of the resource/data/variable` mapping only
works when the declaration of the variable is on the same file. It would be great if this would work doing a project-wide search, since most of the time we do Terraform code using layering.

Thanks!

[2018-11-06 11:25] joelchrist opened #54 "Triggering omnicomplete with deoplete fails"
It gives error `Unknow function terraformcomplete#Complete`

[2018-11-13 02:23] juliosueiras commented on #52
will double check

[2018-12-04 17:43] ngortheone opened #55 "neovim neomake syntax checking is not working"
[code]
:version
NVIM v0.3.1
Build type: Release
LuaJIT 2.0.5
Compilation: /usr/local/Homebrew/Library/Homebrew/shims/mac/super/clang -Wconversion -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=1 -DNDEBUG
-DMIN_LOG_LEVEL=3 -Wall -Wextra -pedantic -Wno-unused-parameter -Wstrict-prototypes -std=gnu99 -Wimplicit-fallthrough -Wvla -fstack-
protector-strong -fdiagnostics-color=auto -DINCLUDE_GENERATED_DECLARATIONS

[2019-01-24 12:21] jinoj opened #56 "extra keyword showing"
open r_ and d_ extra keyword showing in vim

[2019-01-24 19:21] jesse-osiecki commented on #55
Same problem here

[2019-01-28 17:32] juliosueiras commented on #56
can you show a screenshot of the issue?

[2019-01-29 10:08] jinoj commented on #56
[image: image.png]

On Mon, Jan 28, 2019 at 11:02 PM Julio Sueiras <notifications@github.com>
wrote:

--

*Warm Regards*
       *JINO*

[2019-01-29 10:08] jinoj commented on #56
![image](https://user-images.githubusercontent.com/29822478/51900654-dfbc9980-23db-11e9-9591-8df8d99e4413.png)

[2019-01-29 10:09] jinoj commented on #56
how to disable d_ and r_ .. if i make any mistake kindly help me

[2019-01-29 17:45] juliosueiras commented on #56
oh, those are snippets d or data source and r for resource, I can add a toggle for enable or disable these if you wants

[2019-01-30 05:19] jinoj commented on #56
yes i have  already enabled autocomplete in vim
![image](https://user-images.githubusercontent.com/29822478/51959916-a2f4af00-247c-11e9-9a4a-c4fd5ea1ab41.png)

[2019-01-30 05:20] jinoj commented on #56
if you don,t mind .. please share exact .vimrc file for me

[2019-01-30 07:48] juliosueiras commented on #56
k, to make life easier can you goto gitter?(the chat) https://gitter.im/juliosueiras/vim-terraform-completion since I need to ask which version/which vim(neovim and vim) etc to confirm first

[2019-01-31 04:37] jinoj commented on #56
Terraform v0.11.11
vim version 8.0

[2019-01-31 04:47] jinoj commented on #56
os version 18.04

[2019-01-31 15:23] CrowderSoup commented on #54
I was getting this error as well, but after checking the docs and running `:checkhealth` I realized that I need to do the following:

1. Add `NeoMake`
2. Install ruby support for neovim by running `gem install neovim`
3. Reinstall python3 support for neovim:
    - `pip3 uninstall pynvim neovim`
    - `pip3 install neovim`
    - `pip3 install pynvim`

Once I did that it started working for me!

[2019-02-08 09:15] tasdikrahman opened #57 "installation via vundle"
thanks for the project :),

would it be possible to add the instructions for installing using vundle?

Regards

[2019-02-08 16:47] omahn commented on #46
Same issue here. The patch by @grodzik works for me. :+1:

[2019-02-25 16:03] erancx commented on #55
Same issue here.

[code]

[code]

Installed the plugins using Vundle.

[2019-02-28 21:58] ArturZurawski commented on #54
Same error here

[code]

I'm using vim8 from brew. Using mucomplete, but tried deoplete with same result.

[2019-03-16 20:45] barlik opened #59 "Plugin broken in vim 8.1"
I'm running vim 8.1-996 and the plugin is returning an error when I try to auto-complete. The problem seems to be use of `a:` prefixes for the variables inside `Complete` function. Those prefixed are only meant to be used for the function arguments.  I assume that ViM 8.1 is now more strict about using them and thus returns an E461 error.

[code]

[2019-03-16 23:37] juliosueiras commented on #59
@barlik thanks, will double check for that

[2019-03-17 00:02] juliosueiras commented on #59
hi, can you pull the change and check now? there might be some issue(it was a quick fix)

[2019-03-17 10:07] barlik commented on #59
@juliosueiras, I confirm that it's fixed now. Thank you for the quick response.

[2019-03-17 10:14] barlik commented on #59
Unrelated question. Have you had any thought about implementing the completion as a language server? Not that I particularly care about other editors, but implementing a language server could get much more people involved with the project and thus everybody benefits.

[2019-03-17 17:13] juliosueiras commented on #59
@barlik no problem, that is a valid question, I am mostly waiting for HCL 2.0 to become GA, since I am definitely planning of create a LSP version of this plugin

[2019-03-17 20:18] barlik commented on #59
That's amazing, I'm looking forward to it. Thanks again for writing this plugin and fixing the problem.

[2019-03-17 20:18] #59 closed

[2019-03-20 10:34] z0rc commented on #54
Seems this was fixed with https://github.com/juliosueiras/vim-terraform-completion/commit/23b2ec9a1cc1eb8df4f9a6096f73022e251acc88

[2019-04-11 16:07] diegombeltran commented on #52
This would be great!

[2019-04-15 10:06] eredi93 commented on #52
It'd be great to get this. @juliosueiras any chance you could get a chance to work on this any time soon 🙏
I'm not very familiar with vimscript or Vim plugins in general, but i'm more than happy to give it a go if you could give me a few pointers 😄

[2019-04-15 15:53] juliosueiras commented on #52
K, I will take a quick look at ALE later today

[2019-04-17 10:33] eredi93 commented on #52
Awesome! thanks @juliosueiras 🙇

[2019-04-24 01:43] faraazkhan commented on #29
+1 it would be really cool to get ALE support for `terraform validate` and `tffilter` in here

[2019-05-06 08:05] sandangel commented on #52
@juliosueiras is it possible to add [coc.nvim](https://github.com/neoclide/coc.nvim) support as well? I don't know how hard it's to integrate with coc.nvim instead of deoplete

[2019-05-06 13:47] juliosueiras commented on #52
@sandangel I am actually started developing an LSP plugin for terraform https://twitter.com/juliosueiras/status/1124814166085312512 =) , it will support most of HCL2 features and will add more LSP features(document lookup, highlight,etc)

[2019-05-07 10:26] kinowarrior commented on #50
In the same situation, very similar setup to @lanox

[2019-05-07 10:27] kinowarrior commented on #50
syntax & formatting works great, but autocompletion is a no show.

[2019-05-07 11:00] kinowarrior commented on #50
With <c-x><c-o> for omnicomplete, I receive `E117: Unknown function: terraformcomplete#Complete
`

[2019-05-07 13:05] kinowarrior commented on #50
Well, after quite a bit of digging around, I got everything working great for autocompletion, and ctags / tagbar support too.

![terraform-vim](https://user-images.githubusercontent.com/49199497/57301134-3b04d300-7113-11e9-85fc-7bfd9781bc8e.gif)

In my situation, the problem was related to my path entries being a mess in `.zshrc`. At some point, a `path_helper` entry was added which meant my envir

[2019-05-09 12:49] juliosueiras commented on #52
Released =) https://github.com/juliosueiras/terraform-lsp

[2019-05-19 14:55] sandangel commented on #52
@juliosueiras great, thanks a lot. I will take a look.

[2019-06-21 18:23] hposca commented on #50
I had a similar problem.
To fix it I had to install neovim gem and make sure that ruby and json were installed:

[code]

[code]

[2019-06-24 08:53] thenom commented on #57
Just from my experience:

[code]

entry in my vundle plugins in vimrc and following the rest of the instructions has worked fine for me so far (setup 3 days ago).  I am having a couple of issues with it but not sure if this is the vundle install or some other config issues.  I have noticed that the :PluginUpdate fails though

[2019-06-26 18:47] dansanabria opened #60 "can't show doc of the current attribute/argument in vim"
`<leader>k` in normal mode does nothing. Tried with calling `terraformcomplete#GetDoc()` but no luck :(

In my example I have the following code:
[code]
I have the cursor in line 31 just on the `i` for id just after the `.`, when calling the function in verbose mode the following is recorded:
[code]

[2019-08-19 08:05] pedrohdz opened #61 "Getting it work"
Hey,
I seriously dislike opening such vague issues, but I am stumped.  I have tried on my my OSX installation, which is pretty complex with YCM and pathogen and dozens of plugins.

So I spun up a clean Ubuntu VM and cannot get it to work there either.  I must be missing something obvious.

Here's my test VM setup:

[code]

Any hints as to what I might have missed would be greatly appreciated.

Tha

[2019-08-23 20:11] scallister commented on #57
Using Vundle and having trouble getting the plugin to work/load as well. My filetype is `terraform`, I had to force `*.tf` files to that for `vim-terraform` work. If I type `:scriptnames` I do not see `vim-terraform-completion` listed 🤔.

[2019-09-08 13:25] #61 closed

[2019-11-28 23:38] abitrolly opened #62 "installation via vim packages"
Vim 8 added support for packages. To make installation of plugins as easy as just cloning them to plugin dir. Right now `vim-terraform-completion` does no support this installation method. The command below does nothing.
[code]
https://vimhelp.org/repeat.txt.html#packages

[2020-01-14 23:14] krish7919 opened #64 "Question: does it support remote Terraform module auto-completion"
This looks promising. We have a modular code-base with  remote repositories and I was wondering  if you support auto-completion of  remote source modules.

[2020-01-14 23:19] juliosueiras commented on #64
That is on the roadmap, but also this repo is deprecated in favor of [terraform-lsp](https://github.com/juliosueiras/terraform-lsp)

[2020-03-16 23:54] ftpd opened #65 "Vim 8: Unknown function: terraformcomplete#Complete"
I have problem similar to #49 and #50, but those cases were about Neovim. I'm trying to have this completion working in standard vim (8.2.319, running on macOS 10.15.3). I've copied 'minimal configuration' from readme (and deleted all Syntastic stuff, as I'm using Ale). Should I do anything more?

[2020-03-23 12:22] makeev commented on #65
same issue for me

[2020-06-27 11:20] #50 closed

[2020-08-25 12:53] galbacarys commented on #65
I fixed this by fixing my ruby (of all things)! Try running a sudo gem install neovim and reload your terminal. See if that makes completion work.

[2020-08-25 12:59] ftpd commented on #65
I don't want to use Neovim.

[2021-03-07 02:50] kdav5758 commented on #27
I also had the same problem SQL, it seems that it was conflicting with coc-sql's keybindings and/or omnicompletion, so what I did was to completely disable omnicompletion just for SQL, since it was isolated to this binding: (from : ~/.vim/plugged/vim-polyglot/ftplugin/sql.vim)
[code]

I added the following to .init.vim (I use NeoVim btw) and it worked:
[code]

So all I recommend is to disable it f

[2021-07-09 11:48] yermulnik commented on #65
I'm facing same issue. Any clues?

[2021-07-09 12:00] yermulnik commented on #65
Googled it and here's what's the fix (I'm on Ubuntu):
[code]

So Vim with Ruby support is the thing.

[2021-08-16 12:00] yermulnik commented on #34
Oh my, it took me several days to came across this issue and it literally was almost occasional hit.

Long story short: after installing `vim-terraform-completion` I found that editing `source = ` lines of non-local Terraform modules throws `eval:6: warning: calling URI.open via Kernel#open is deprecated, call URI.open directly or use URI#open` error and freezes `vim`. Based on plenty of experimen

[2021-11-13 11:27] Oliver-Chalkley opened #66 "Autocomplete not working with VIM with Pathogen"
I installed the [vim-terraform](https://github.com/hashivim/vim-terraform) plugin using Pathogen. The syntax highlighting and the indenting worked but the autocompletion did not. So then I went to [vim-terraform-completion](https://github.com/juliosueiras/vim-terraform-completion) and used Pathogen to install [Syntastic](https://github.com/vim-syntastic/syntastic) and [vim-terraform-completion](ht

[2022-01-06 15:26] mansab commented on #65
I have the following:

[code]
[code]

And face the same issue.